body{
    font-family: arial;
}
#label h4{
    font-size:30px;
    color:#4c4c4c
}
#product{width:1170px !important; margin:0 auto !important}
#sp{width:1170px !important}
#sp .pro{
    width:258px;
height: 340px;
    background:#fff;
    display:block;
    float:left;
    margin-right: 30px;
    position: relative;
    border: 1px solid #ccc;
    padding-bottom:20px;
    margin-bottom:50px;
    
}
.clear{clear: both;}
.pro:hover{
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}
.pro img{
    padding-top: 20px;
    padding-bottom: 0;
}
.pro h3 a{
    font-weight: normal;
    font-size:16px !important;
    color:#4c4c4c
}
.pro p.tt{
    margin:0 15px;
    border-bottom:1px solid #ccc;
    padding-bottom:10px;
}
.pro span{
    color:#000;
    padding-top:20px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-left:15px;
}
.pro a.giohang, #ct a.giohang {
    background:#f95a36;
    color:#fff;
    margin-bottom:20px;
    padding:10px 15px;
    margin-left:70px;
    font-size:16px;
}
.chitiet_sp1 a.giohang {
    background:#f95a36;
    color:#fff;
    margin-bottom:20px;
    padding:5px;
   
  border-radius:10px;
    font-size:12px;
}
.img{
    float:left;
    display: block;
    margin-right:30px;
}
#ct{width:600px;}
.chitiet_sp{width:400px; float:right; margin-top:-25px}
.chitiet_sp h2{
    font-size:20px;
    color:#4c4c4c;
    margin-bottom:20px;
    border-bottom:1px solid #ccc;
    padding-bottom:20px;
}
.chitiet_sp p{
    color:#f6832f;
    line-height:25px;
    font-weight: bold;
}
.chitiet_sp p strong{
    color: #4c4c4c
}
#cart a{
    text-transform: uppercase;
    color:#fff;
    background:url('../image/icongiohang.png') no-repeat left center;
    font-size:16px;
   padding-left:35px;
}

#viewcart{
    width:900px;
    display: block;
    height:200px;
}
#viewcart .left{
   width:160px;
   float:left;
   display: block;
}
#viewcart p{line-height:30px !important; margin:0; padding:0 !important;
font-size:16px;
}
#viewcart .right{float:right;  margin-top:-80px;}
#viewcart input{width:100px; height:30px;}
#cart1{width:900px;}
p.total{float:right; margin-top:-60px; font-size:16px; font-weight: bold; margin-right:40px;}

#viewcart p a{font-size:16px; color:#f55600; font-weight: normal;}
#viewcart p a:hover{text-decoration: underline;}


.error1{
    background:#eebdc4 !important;
    color:#4c4c4c !important;
    padding:20px 40px;
    border-radius:7px;
    border:2px solid #eb4c63;
}
.error1 p{padding:0 !important; margin:0 !important; padding-left:60px; line-height:30px;}
form h4{
    font-size:16px;
    color:#f55600;
}
form hgroup{
    margin-left:100px;
}
form p b{width:200px; display: block; float:left; text-align: right; margin-right:50px;}
form input{width:500px;}
form input[type="submit"]{
    border:none;
    color:#fff;
    background:#f55600;
    padding:7px 15px;
    margin-bottom: 20px;
}
form input[type="submit"]:hover{
    background:#4c4c4c
}
form.login input{
    width:250px;
    margin-bottom:15px;
}
form.login label{
    width:100px; 
    display: block;
    float:left
}
form.login input[type="submit"]{
    width:120px;
}
form.search input[type="submit"]{
    width:10px !important;
    height:21px;
    
    margin-left:-15px !important;
}
form.search input[type="text"]{background:none; width:230px !important; }
.chitiet_sp1{
    width:400px; float:left;
    margin-right:30px;
    display: block;
    margin-top:30px;
    margin-bottom:30px;
}
p.message{text-align: left; font-size:16px;}
.chitiet_sp1 img{width:150px; float:left; margin-right:15px;}
.chitiet_sp1 h3 a{font-size:18px !important}
.chitiet_sp1 p{font-size:16px}

#paganation{position: relative; width:600px; }
#paganation .paga{}
form.login1 label{
    display: block;
    text-align: left;
    width:100px;
    float:left;
    margin-top:10px;
    margin-left:20px;
}
form.login1{
    width:420px;
    margin:50px auto
}
form.login1 input{
    width:200px;
    display: block;
    margin-bottom:20px;
}
form.login1 input[type="submit"]{
    width:100px;
    margin-left:120px;
}
.login-content{width:420px !important;
border:1px solid #ccc;
margin:30px auto
}
.user, .product1{margin-bottom:30px;
background:#239ed2;
    width: 200px;
      padding: 10px 15px !important;
      float:left;
      margin-right: 10px;
}
.user a, .product1 a{
    color:#fff !important;
    font-family: arial;
  text-align: center;
    font-size:16px !important;
    
    
}
.product1 {
    background:#06216e
}
#article{

    width:1170px;
    margin:40px auto
}
A:link {
	COLOR: #0099CC; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0099CC; TEXT-DECORATION: none
}
A:active {
	COLOR: #0099CC; TEXT-DECORATION: none
}
A:hover {
	COLOR: #3bac00; TEXT-DECORATION: none
}
.style1 {
	font-size: 18px;
	color: #FFFFFF;
}
.style2{color:#fff}
.style3 {
	color: #0099CC;
	font-size: 16px;
	border-bottom:solid 1px #CCCCCC;
}
.style4 {
	color: #FFFFFF;
	font-size: 18px;
    text-transform: capitalize;
}
.style5 {font-size: 14px}
td{text-align: center; height: 30px;}
td .ten_field{
    width:272px;
   text-align: right;
   margin-right:-100px !important;
}

td input{width:400px; margin-right:20px; margin-top:20px }
td textarea{margin-top:20px; width:400px; margin-right:20px;}