body{
    font-family: arial;
}
.cf{clear: both;}
/*** ESSENTIAL STYLES ***/
#menu {
    background-color:#fff;
    width:100%;
    z-index:23;
    top:0
}
.sf-menu {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.sf-menu > li:first-child {
    background:none;
    padding-left:0;
}
ul.sf-menu > li {
    float: left;
    z-index: 10;
    position:relative;
    border-radius:0;
    padding:25px 16px;
    /*	background:url(../image/sep-1.png) no-repeat left center;*/
}
ul.sf-menu > li > a {
    display:inline-block;
    z-index: 1;
    position: relative;
    font-size:19px;
    font-weight:bold;
    color:#2e2e2e;
    text-decoration:none;
    line-height:30px;
    text-transform:uppercase;
}
ul.sf-menu > li.current>a,
ul.sf-menu > li>a:hover,
ul.sf-menu > li.sfHover>a,
ul.sf-menu > ul > li.active>a  {
    color:#ff4e00
}
ul.sf-menu > li:hover .sf-mega{display: block !important;}
.sf-menu .sf-mega {
    display: none;
    z-index: 99;
    position: absolute;
    background-color:#363636;
    left:0;
    top:61px
}
/*** mega menu dropdown ***/
.sf-mega {
    padding:15px 0;
}
.sf-mega-section {
    display:table-cell;
}
.sf-mega-section >li {
    position:relative;
    padding:4px 20px;
    width:170px;
    line-height:20px;
}
.sf-mega-section >li a:hover, .sf-mega-section >li.sfHover>a {
    color:#ff4e00
}
.sf-mega-section >li a {
    color:#fff;
}
.sf-mega-section >li ul {
    position:absolute;
    left:170px;
    width:170px;
    background-color:#363636;
    padding:15px 20px;
    top:-15px;
    z-index:10;
    display:none;
}
.sf-mega-section >li ul li{
    padding:4px 0px
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
    content:'\f107';
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    display: inline;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height:0px;
    height: auto;
    margin-top: 0;
    text-decoration: inherit;
    vertical-align: middle;
    width:1.45em;
    padding-left:3px;
    font-size:16px;
}
.sf-mega-section .sf-with-ul:after {
    content:'\f105';
    font-size:16px;
    color:#fff
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
    border-top-color: white; /* IE8 fallback colour */
}
/*****************************************************/
#menu-icon {
    background: #ff4e00;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 17px;
    font-weight: bold;
    line-height: 30px;
    padding:10px 17px;
    text-transform: uppercase;
    position:relative;
}
#menu-icon:after {
    float:right;
    content:"\f107";
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    display: inline;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    height: auto;
    line-height: normal;
    margin-top: 0;
    text-decoration: inherit;
    vertical-align: baseline;
    width: auto;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    width: 1.25em;
    font-size:26px;
    color:#fff;
    vertical-align:middle;
}
#menu-icon.active:after {
    content:"\f106";
}
.sf-menu-phone {display:none;}
.sf-menu-phone li {
    position: relative;
    background-color:#323232;
}
.sf-menu-phone li a {
    display: inline-block;  color: #fff;  border-bottom:1px solid #000;
}
.sf-menu-phone  li {
    font-size: 19px;
    padding: 0;
}
.sf-menu-phone  li > a {
    padding: 10px 15px;
    display: block;
}
.sf-menu-phone  li li  a {
    padding: 10px 15px 10px 25px;
    display: block;
}
.sf-menu-phone  li li li a {
    padding: 10px 15px 10px 35px;
    display: block;
}
.sf-menu-phone li a:hover {
    color: #B90100;
}
.sf-menu-phone li li {
    font-size: 14px;
}
.sf-menu-phone li li.last {
    padding-bottom: 0 !important;
}
.sf-menu-phone li i {
    position: absolute;
    display: block;
    top: 2px;
    right: 0;
    height: 24px;
    width: 24px;
}
.sf-menu-phone  li  i {
    top: 8px;
    color:#ff4e00;
    font-size:21px;
    padding:0 20px;
    right:5px
}
.sf-menu-phone  li i.icon-angle-up:before {
    content:'\f106' !important
}
.sf-menu-phone li i:hover {
    cursor: pointer;
}
.sf-menu-phone li i.opened {
    background-position: center 7px;
}
/** dropdown **/
.sf-menu-phone ul {
    width: auto;
    padding: 0px 0px;
    display: none;
}
.sf-menu-phone  li.active > a > span {
    color: inherit;
}
.sf-menu-phone  li.active > a,
.sf-menu-phone  li:hover > a {
    color: #fff;
    background: #4a4a4a;
}
.sf-menu-phone li li.active > a,
.sf-menu-phone li li a:hover {
    color: #ccc;
}




#label h4{
    font-size:30px;
    color:#4c4c4c
}
li.chao{color:#fff !important; float:right !important; border-left:none !important; background: none !important}
#product{width:1170px !important; margin:0 auto !important}
#sp{width:1170px !important}
#sp .pro{
    width:258px;
    background:#fff;
    display:block;
    float:left;
    margin-right: 30px;
    position: relative;
    border: 1px solid #ccc;
    padding-bottom:20px;
    margin-bottom:40px;
    
}
.clear{clear: both;}
.pro:hover{
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}
.pro img{
    padding-top: 20px;
    padding-bottom: 0;
    object-fit: cover;
    object-position: top;
}
.pro h3 a{
    font-weight: normal;
    font-size:16px !important;
    color:#4c4c4c
}
.pro p.tt{
    display: block;
    margin:0 15px;
    border-bottom:1px solid #ccc;
    padding-bottom:10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pro span{
    color:#000;
    padding-top:20px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-left:15px;
}
.pro a.giohang, #ct a.giohang {
    display: block;
    float: right;
    width: 160px;
    text-align: center;
    background:#f95a36;
    color:#fff;
    margin-top:10px;
    padding:10px;
    font-size:15px;
    text-transform: capitalize;
}
.chitiet_sp1 a.giohang {
    background:#f95a36;
    color:#fff;
    margin-bottom:20px;
    padding:5px;
  border-radius:10px;
    font-size:12px;
}
.img{
    float:left;
    display: block;
    margin-right:30px;
}
#ct{width:730px; display: flex;}
.chitiet_sp{width:400px; float:right; margin-top:-25px}
.chitiet_sp h2{
    font-size:20px;
    color:#4c4c4c;
    margin-bottom:20px;
    border-bottom:1px solid #ccc;
    padding-bottom:20px;
}
.chitiet_sp p{
    color:#f6832f;
    line-height:25px;
    font-weight: bold;
}
.chitiet_sp p strong{
    color: #4c4c4c
}
#cart a{
    text-transform: uppercase;
    color:#fff;
    background:url('../image/icongiohang.png') no-repeat left center;
    font-size:16px;
   padding-left:35px;
}

#viewcart{
    width:900px;
    height: 250px;
    display: block;
   clear: both;
    margin-bottom: 25px;
}
#viewcart img,#viewcart1 img,.featured img{object-fit: cover; object-position: top;}
#viewcart .left{
   width:250px;
   float:left;
   display: block;
    margin-right: 20px;
}
#viewcart1{
    width:325px;
    display: block;
    height:90px;
    position: relative;
}
#viewcart1 .left{
   width:60px;
   float:left;
   display: block;
   margin-left:5px;
   margin-right:10px
}
p.total1{color:#4c4c4c; float:right; margin-right:15px; display: block;}
#viewcart1 p{font-size:14px;margin:0; text-align: left;}
#viewcart p{line-height:30px !important; margin:0; padding:0 !important;
font-size:16px;
}
#viewcart .right{float:right;  margin-top:-80px;}
#viewcart input{width:100px; height:30px;}
#cart1{width:900px;}
p.total{float:right; margin-top:-60px; font-size:16px; font-weight: bold; margin-right:80px;}

#viewcart p a{font-size:16px; color:#f55600; font-weight: normal;}
#viewcart p a:hover{text-decoration: underline;}


.error1{
    background:#eebdc4 !important;
    color:#4c4c4c !important;
    padding:20px 40px;
    border-radius:7px;
    border:2px solid #eb4c63;
}
.error1 p{padding:0 !important; margin:0 !important; padding-left:60px; line-height:30px;}
form h4{
    font-size:16px;
    color:#f55600;
}
form p b{width:200px; display: block; float:left; text-align: right; margin-right:50px;}
form input{width:500px;}
form input[type="submit"]{
    border:none;
    color:#fff;
    background:#f55600;
    padding:7px 15px;
}
form input[type="submit"]:hover{
    background:#4c4c4c
}
form.login input{
    width:250px;
    height: 30px;
    margin-bottom:15px;
    padding-left: 5px;
}
form.login label{
    width:80px;
    display: block;
    float:left;
    line-height: 30px;
    text-align: right;
    margin-right: 10px;
}
form.login input[type="submit"]{
    width:120px;
}
form.search input[type="submit"]{
    width:10px !important;
    background:#fff url(../image/iconsearch.png) no-repeat right center !important;
    height:21px;
    
    margin-left:-15px !important;
}
form.search input[type="text"]{background:none; width:230px !important; }
.chitiet_sp1{
    width:800px; float:left;
    margin-right:30px;
    display: block;
    margin-top:30px;
    margin-bottom:30px;
}
p.message{text-align: left; font-size:16px;}
.chitiet_sp1 img{float:left; margin-right:15px; object-fit: cover; object-position: top;}
.chitiet_sp1 h3 a{font-size:18px !important}
.chitiet_sp1 p{font-size:16px}

#paganation{position: relative; width:600px; }
#paganation .paga{}
#mask1{
    width: 600px;
    margin: 0 auto;
    text-align: center;
	background:#fff;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	z-index:101;
}
#mask1 .error1{width: 90%; display: block; clear: both; margin: 10px auto; text-align: left;}
#mask1 input{height: 35px; border-radius: 5px; padding-left: 5px; border: 1px solid #ccc;}
.box{
    position: relative;
}
#mask{
    display: none;
	background: #4c4c4c; 
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: 0.5;
	z-index: 99;
}
#mask1 h4{
    color:#fff;
    font-size:15px;
    text-align: center;
    background:#f41d5f;
    padding:8px 0;
    text-transform: uppercase;
    margin-top:0;
}
input#soluong{border:none; width:30px; color:#4c4c4c; margin-top: 0!important; line-height:20px;}
.reveal-modal-bg { 
	position: fixed; 
	height: 100%;
	width: 100%;
	background: #000;
	background: rgba(0,0,0,.4);
	z-index: 100;
	display: none;
	top: 0;
	left: 0; 
}
form#register-form{
    padding: 5px 15px;
}
form#register-form input{
    margin-bottom:10px;
}
p.sucess, p.erorr1{
    clear:both;
}
.output{text-align: left;}
.fluid_container{width: 1140px; overflow: hidden; position: relative;}
.fluid_container a.next,.fluid_container a.prev{width: 42px; height: 26px; display: block; background: url("../image/up-arrow.png") no-repeat; text-indent: -9999em; position: absolute; top: 50%; transform: translateY(-50%);}
.fluid_container a.next{ right: 10px; transform: rotate(90deg);}
.fluid_container a.prev{ left: 10px; transform: rotate(270deg);}
.fluid_container a.next:hover,.fluid_container a.prev:hover{background: url("../image/up-arrow.png") no-repeat 0 -26px;}
.sliders{height: 549px; display: flex; position: relative; transition: 1s;}
.sliders .item{width: 100%; height: 100%; position: relative; transition: 1s;}
.sliders .item.active{opacity: 1;}
.sliders .item img{max-width: 100%;}

.nav{display: block; color: #c00;}
ul.pag{display: flex; bottom: 10px;}
ul.pag li{display: block; margin: 0 5px; color: #000; cursor: pointer;}
ul.pag li.active a{color: #c00;}

.camera_caption {
    display: block;
    position: absolute;
    max-width: 232px;
    text-align:center;
    background:rgba(0,0,0,0.59);
    width:100%;
    top:0;
    left:25px;
    font-size:15px;
    color:#626262;
    line-height:22px;
    padding:60px 0 62px
}
.camera_caption h1 {
    font-size:81px;
    color:#fff;
    margin:0 0 -15px;
}
.camera_caption h2 {
    font-size:71px;
    color:#fff;
    margin:0;
}
.camera_caption h3 {
    font-size:22px;
    color:#fff;
    margin:0 0 25px;
    font-weight: normal;
    text-transform: uppercase;
}
.camera_caption a:hover {
    background-color:#333;
}
.camera_caption a {
    display:inline-block;
    font-size:17px;
    font-weight:300;
    padding:5px 9px;
    line-height:19px;
    color:#fff;
    background-color:#ff4e00;
}
.camerarelative {
    overflow: hidden;
    position: relative;
}
.register input{height: 35px; padding-left: 5px; border-radius: 3px; border: 1px solid #ccc;}
.register .frm{display: flex; justify-content: flex-end; margin-bottom: 14px;}
.register label{width: 150px; display: block;}

.products{display: flex; flex-wrap: wrap; justify-content: space-between;}
.products article{display: block; width: 23%; padding: 15px; margin-bottom: 40px; border: 1px solid #ccc;}
.post img{object-fit: cover; object-position: top; display: block; margin: 15px auto;}
.post h3{font-size: 18px; text-align: center; margin: 0;}
.post p{text-align: center; margin: 0; padding: 10px 0; border-bottom: 1px solid #ccc;}
.post .price{display: block; font-size: 15px; padding: 10px 0;}
.post .cart{
    display: block;
    float: right;
    width: 160px;
    text-align: center;
    background: #f95a36;
    color: #fff;
    margin-top: 10px;
    padding: 10px;
    font-size: 15px;
    text-transform: capitalize;
}
#lienhe input{height: 33px; padding-left: 5px; border-radius: 3px; border: 1px solid #ccc;}
#lienhe textarea{padding: 10px;}